manifest {
    name            = 'spatial-tissue-atlas'
    description     = 'Spatial Transcriptomics Pipeline with Embedded DuckDB'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
}

// Automatically creates a folder called docs/ with an HTML execution report
report {
    enabled = true
    file    = "docs/pipeline_report.html"
    overwrite = true
}
